// .content{

.default-header {

  margin: 0 auto;

  max-width: 940px;

  /*background-color: #0097a7;*/

// }
}
.default-content {

  margin: 0 auto;

  max-width: 940px;

  padding-top: 20px;

  padding-bottom: 20px;

}
