.wrapper{

  margin: 7% 2% 2% 2%;
  .list-container{
    width: 100%;
    .list-active{
      width: 48%;
      float: left;
      .subtotal-active{

        display: flex;
        background-color: #4d4d4d61;
        margin: 2px;
      }
    }
    .list-deleted{
      width: 48%;
      float: right;
      .subtotal-deleted{
        display: flex;
        background-color: #4d4d4d61;
        margin: 2px;
      }
    }
  }

}
